In [1]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: ok

In [69]:
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from config import gkey
import gmaps
import gmaps.geojson_geometries
from matplotlib.cm import viridis, inferno, plasma
from matplotlib.colors import to_hex
gmaps.configure(api_key= gkey)

In [3]:
rds_connection_string = "postgres:postgres@localhost:5432/COVID_df"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [4]:
happy_df = pd.read_sql_query('select * from happiness_table', con=engine)

In [5]:
happy_df.head()

,country,ranking,score,social_support,freedom_index,corruption_index
0,Finland,1,7.769,1.587,0.596,0.393
1,Denmark,2,7.600,1.573,0.592,0.410
2,Norway,3,7.554,1.582,0.603,0.341
3,Iceland,4,7.494,1.624,0.591,0.118
4,Netherlands,5,7.488,1.522,0.557,0.298

In [6]:
covid_df = pd.read_sql_query('select * from covid_cases', con=engine)

In [7]:
covid_df.head()

  country_region   population  totalcases  totaldeaths  totaltests
0            USA  330854064.0   1881205.0     108059.0  18603174.0
1         Brazil  212442762.0    558237.0      31309.0    930013.0
2         Russia  145929848.0    423741.0       5037.0  11151622.0
3          Spain   46753443.0    287012.0      27127.0   4063843.0
4             UK   67858826.0    277985.0      39369.0   4615146.0

In [8]:
country_df = pd.read_sql_query('select * from countrycode_table', con=engine)

In [9]:
country_df.head()

,iso_a3,country,continent,subregion,country_code,continent_code,subregion_code
0,AFG,Afghanistan,Asia,Southern Asia,4,142.0,34.0
1,ALA,Åland Islands,Europe,Northern Europe,248,150.0,154.0
2,ALB,Albania,Europe,Southern Europe,8,150.0,39.0
3,DZA,Algeria,Africa,Northern Africa,12,2.0,15.0
4,ASM,American Samoa,Oceania,Polynesia,16,9.0,61.0

In [34]:
merged_df = pd.merge(happy_df, country_df, how='inner', left_on='country', right_on='country')
merged_df.head()

,country,ranking,score,social_support,freedom_index,corruption_index,iso_a3,continent,subregion,country_code,continent_code,subregion_code
0,Finland,1,7.769,1.587,0.596,0.393,FIN,Europe,Northern Europe,246,150.0,154.0
1,Denmark,2,7.600,1.573,0.592,0.410,DNK,Europe,Northern Europe,208,150.0,154.0
2,Norway,3,7.554,1.582,0.603,0.341,NOR,Europe,Northern Europe,578,150.0,154.0
3,Iceland,4,7.494,1.624,0.591,0.118,ISL,Europe,Northern Europe,352,150.0,154.0
4,Netherlands,5,7.488,1.522,0.557,0.298,NLD,Europe,Western Europe,528,150.0,155.0

In [35]:
merged_df.set_index("country", inplace=True)
merged_df.head()

,ranking,score,social_support,freedom_index,corruption_index,iso_a3,continent,subregion,country_code,continent_code,subregion_code
country,,,,,,,,,,,
Finland,1,7.769,1.587,0.596,0.393,FIN,Europe,Northern Europe,246,150.0,154.0
Denmark,2,7.600,1.573,0.592,0.410,DNK,Europe,Northern Europe,208,150.0,154.0
Norway,3,7.554,1.582,0.603,0.341,NOR,Europe,Northern Europe,578,150.0,154.0
Iceland,4,7.494,1.624,0.591,0.118,ISL,Europe,Northern Europe,352,150.0,154.0
Netherlands,5,7.488,1.522,0.557,0.298,NLD,Europe,Western Europe,528,150.0,155.0

### Add GeoJSON layer

In [10]:
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}

In [11]:
fig = gmaps.figure(layout=figure_layout)

In [12]:
countries_geojson = gmaps.geojson_geometries.load_geometry('countries')

In [13]:
gini_layer = gmaps.geojson_layer(countries_geojson)

In [14]:
fig.add_layer(gini_layer)

In [15]:
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [106]:
def calculate_color(input_data):
    # input_data is between 0 and 1
    # invert gini so that high inequality gives dark color
    inverse_data = 1.0 - input_data

    # transform the gini coefficient to a matplotlib color
#     mpl_color = viridis(inverse_data)
#     mpl_color = plasma(inverse_data)
    mpl_color = inferno(inverse_data)
    print(mpl_color)
    # transform from a matplotlib color to a valid CSS color
    gmaps_color = to_hex(mpl_color, keep_alpha=False)

    return gmaps_color

In [107]:
a_data = merged_df["freedom_index"]
country_names = merged_df.index
print(country_names)
country_codes = list(merged_df["iso_a3"])
country_codes
b = merged_df.loc[merged_df.iso_a3=="FIN"]["freedom_index"]
print(b)
c = merged_df.loc[merged_df.index=="Finland"]["freedom_index"]
print(c)

Index(['Finland', 'Denmark', 'Norway', 'Iceland', 'Netherlands', 'Switzerland',
       'Sweden', 'New Zealand', 'Canada', 'Austria',
       ...
       'Haiti', 'Botswana', 'Syria', 'Malawi', 'Yemen', 'Rwanda', 'Tanzania',
       'Afghanistan', 'Central African Republic', 'South Sudan'],
      dtype='object', name='country', length=146)
country
Finland    0.596
Name: freedom_index, dtype: float64
country
Finland    0.596
Name: freedom_index, dtype: float64

In [108]:
colors=[]
for feature in countries_geojson['features']:
    country_name = feature['properties']['name']
    country_code = feature['properties']['ISO_A3']
    print(country_name)
    try:
        if country_name in country_names:
            print(country_name)
            input_value = merged_df.loc[merged_df.index==country_name]["freedom_index"][0]
            print(input_value)
        elif country_code in country_codes:
            input_value = merged_df.loc[merged_df.iso_a3==country_code]["freedom_index"][0]
            print(country_code)
        else: input_value = 0
        color = calculate_color(input_value)
    except KeyError:
        # no GINI for that country: return default color
        color = (0, 0, 0, 0.3)
    colors.append(color)

Afghanistan
Afghanistan
0.0
(0.988362, 0.998364, 0.644924, 1.0)
Angola
(0.988362, 0.998364, 0.644924, 1.0)
Albania
Albania
0.38299999999999995
(0.882188, 0.337287, 0.207628, 1.0)
Aland
(0.988362, 0.998364, 0.644924, 1.0)
Andorra
(0.988362, 0.998364, 0.644924, 1.0)
United Arab Emirates
United Arab Emirates
0.598
(0.578304, 0.148039, 0.404411, 1.0)
Argentina
Argentina
0.47100000000000003
(0.775059, 0.239667, 0.303526, 1.0)
Armenia
Armenia
0.28300000000000003
(0.963387, 0.495462, 0.079073, 1.0)
American Samoa
(0.988362, 0.998364, 0.644924, 1.0)
Antarctica
(0.988362, 0.998364, 0.644924, 1.0)
French Southern and Antarctic Lands
(0.988362, 0.998364, 0.644924, 1.0)
Antigua and Barbuda
(0.988362, 0.998364, 0.644924, 1.0)
Australia
Australia
0.557
(0.64626, 0.173914, 0.378359, 1.0)
Austria
Austria
0.532
(0.682656, 0.189501, 0.360757, 1.0)
Azerbaijan
Azerbaijan
0.35100000000000003
(0.916462, 0.387481, 0.164924, 1.0)
Burundi
Burundi
0.22
(0.985315, 0.608422, 0.024202, 1.0)
Belgium
Belgium
0.473
(0.769556, 0.236077, 0.307485, 1.0)
Benin
Benin
0.349
(0.916462, 0.387481, 0.164924, 1.0)
Burkina Faso
Burkina Faso
0.255
(0.975677, 0.543798, 0.043618, 1.0)
Bangladesh
Bangladesh
0.527
(0.694627, 0.195021, 0.354388, 1.0)
Bulgaria
Bulgaria
0.311
(0.946965, 0.449191, 0.115272, 1.0)
Bahrain
Bahrain
0.536
(0.676638, 0.186807, 0.363849, 1.0)
The Bahamas
(0.988362, 0.998364, 0.644924, 1.0)
Bosnia and Herzegovina
(0.988362, 0.998364, 0.644924, 1.0)
Belarus
Belarus
0.235
(0.981895, 0.579392, 0.02625, 1.0)
Belize
(0.988362, 0.998364, 0.644924, 1.0)
Bolivia
Bolivia
0.511
(0.718264, 0.206636, 0.340931, 1.0)
Brazil
Brazil
0.39
(0.878001, 0.33206, 0.212268, 1.0)
Barbados
(0.988362, 0.998364, 0.644924, 1.0)
Brunei
(0.988362, 0.998364, 0.644924, 1.0)
Bhutan
Bhutan
0.457
(0.796607, 0.254728, 0.287264, 1.0)
Botswana
Botswana
0.455
(0.796607, 0.254728, 0.287264, 1.0)
Central African Republic
Central African Republic
0.225
(0.984591, 0.601122, 0.023606, 1.0)
Canada
Canada
0.584
(0.603139, 0.157151, 0.395891, 1.0)
Switzerland
Switzerland
0.5720000000000001
(0.621685, 0.164184, 0.388781, 1.0)
Chile
Chile
0.35700000000000004
(0.90939, 0.375856, 0.174563, 1.0)
China
China
0.521
(0.700576, 0.197851, 0.351113, 1.0)
Ivory Coast
(0.988362, 0.998364, 0.644924, 1.0)
Cameroon
Cameroon
0.381
(0.886302, 0.342586, 0.202968, 1.0)
Cyprus No Mans Area
(0.988362, 0.998364, 0.644924, 1.0)
Democratic Republic of the Congo
(0.988362, 0.998364, 0.644924, 1.0)
Republic of Congo
(0.988362, 0.998364, 0.644924, 1.0)
Colombia
Colombia
0.47
(0.775059, 0.239667, 0.303526, 1.0)
Comoros
Comoros
0.142
(0.981173, 0.759135, 0.156863, 1.0)
Cape Verde
(0.988362, 0.998364, 0.644924, 1.0)
Costa Rica
Costa Rica
0.5579999999999999
(0.64626, 0.173914, 0.378359, 1.0)
Cuba
(0.988362, 0.998364, 0.644924, 1.0)
Curaçao
(0.988362, 0.998364, 0.644924, 1.0)
Cayman Islands
(0.988362, 0.998364, 0.644924, 1.0)
Northern Cyprus
(0.988362, 0.998364, 0.644924, 1.0)
Cyprus
Cyprus
0.406
(0.860533, 0.311892, 0.230606, 1.0)
Czech Republic
Czech Republic
0.457
(0.796607, 0.254728, 0.287264, 1.0)
Germany
Germany
0.495
(0.741423, 0.219112, 0.326576, 1.0)
Djibouti
(0.988362, 0.998364, 0.644924, 1.0)
Dominica
(0.988362, 0.998364, 0.644924, 1.0)
Denmark
Denmark
0.5920000000000001
(0.590734, 0.152563, 0.40029, 1.0)
Dominican Republic
Dominican Republic
0.49700000000000005
(0.735683, 0.215906, 0.330245, 1.0)
Algeria
Algeria
0.086
(0.95872, 0.866624, 0.31082, 1.0)
Ecuador
Ecuador
0.498
(0.735683, 0.215906, 0.330245, 1.0)
Egypt
Egypt
0.24100000000000002
(0.980824, 0.572209, 0.028508, 1.0)
Eritrea
(0.988362, 0.998364, 0.644924, 1.0)
Spain
Spain
0.36200000000000004
(0.905735, 0.37014, 0.17935, 1.0)
Estonia
Estonia
0.495
(0.741423, 0.219112, 0.326576, 1.0)
Ethiopia
Ethiopia
0.344
(0.919879, 0.393389, 0.16007, 1.0)
Finland
Finland
0.596
(0.584521, 0.150294, 0.402385, 1.0)
Fiji
(0.988362, 0.998364, 0.644924, 1.0)
Falkland Islands
(0.988362, 0.998364, 0.644924, 1.0)
France
France
0.436
(0.822386, 0.275197, 0.266085, 1.0)
Faroe Islands
(0.988362, 0.998364, 0.644924, 1.0)
Federated States of Micronesia
(0.988362, 0.998364, 0.644924, 1.0)
Gabon
Gabon
0.295
(0.956852, 0.475356, 0.094695, 1.0)
United Kingdom
United Kingdom
0.45
(0.801871, 0.258674, 0.283099, 1.0)
Georgia
Georgia
0.34600000000000003
(0.919879, 0.393389, 0.16007, 1.0)
Ghana
Ghana
0.381
(0.886302, 0.342586, 0.202968, 1.0)
Guinea
Guinea
0.332
(0.932737, 0.417627, 0.140417, 1.0)
Gambia
Gambia
0.382
(0.886302, 0.342586, 0.202968, 1.0)
Guinea Bissau
(0.988362, 0.998364, 0.644924, 1.0)
Equatorial Guinea
(0.988362, 0.998364, 0.644924, 1.0)
Greece
Greece
0.067
(0.950018, 0.903409, 0.380271, 1.0)
Grenada
(0.988362, 0.998364, 0.644924, 1.0)
Greenland
(0.988362, 0.998364, 0.644924, 1.0)
Guatemala
Guatemala
0.535
(0.682656, 0.189501, 0.360757, 1.0)
Guam
(0.988362, 0.998364, 0.644924, 1.0)
Guyana
(0.988362, 0.998364, 0.644924, 1.0)
Hong Kong S.A.R.
HKG
(0.817341, 0.270954, 0.27039, 1.0)
Heard Island and McDonald Islands
(0.988362, 0.998364, 0.644924, 1.0)
Honduras
Honduras
0.507
(0.724103, 0.20967, 0.337424, 1.0)
Croatia
Croatia
0.29600000000000004
(0.956852, 0.475356, 0.094695, 1.0)
Haiti
Haiti
0.026000000000000002
(0.957896, 0.971003, 0.556275, 1.0)
Hungary
Hungary
0.19899999999999998
(0.987819, 0.652773, 0.045581, 1.0)
Indonesia
Indonesia
0.491
(0.747127, 0.222378, 0.322856, 1.0)
Isle of Man
(0.988362, 0.998364, 0.644924, 1.0)
India
India
0.498
(0.735683, 0.215906, 0.330245, 1.0)
Ireland
Ireland
0.516
(0.7065, 0.200728, 0.347777, 1.0)
Iran
Iran
0.305
(0.949562, 0.45566, 0.110164, 1.0)
Iraq
Iraq
0.24100000000000002
(0.980824, 0.572209, 0.028508, 1.0)
Iceland
Iceland
0.591
(0.590734, 0.152563, 0.40029, 1.0)
Israel
Israel
0.371
(0.898192, 0.358911, 0.18886, 1.0)
Italy
Italy
0.231
(0.982881, 0.586606, 0.024661, 1.0)
Jamaica
Jamaica
0.49
(0.747127, 0.222378, 0.322856, 1.0)
Jordan
Jordan
0.38299999999999995
(0.882188, 0.337287, 0.207628, 1.0)
Japan
Japan
0.445
(0.812239, 0.266786, 0.274661, 1.0)
Baykonur Cosmodrome
(0.988362, 0.998364, 0.644924, 1.0)
Siachen Glacier
(0.988362, 0.998364, 0.644924, 1.0)
Kazakhstan
Kazakhstan
0.41
(0.855992, 0.307038, 0.235133, 1.0)
Kenya
Kenya
0.431
(0.827372, 0.279517, 0.26175, 1.0)
Kyrgyzstan
Kyrgyzstan
0.508
(0.718264, 0.206636, 0.340931, 1.0)
Cambodia
Cambodia
0.609
(0.565854, 0.143567, 0.408258, 1.0)
Kiribati
(0.988362, 0.998364, 0.644924, 1.0)
Saint Kitts and Nevis
(0.988362, 0.998364, 0.644924, 1.0)
South Korea
South Korea
0.159
(0.984865, 0.728427, 0.120785, 1.0)
Kosovo
(0.988362, 0.998364, 0.644924, 1.0)
Kuwait
Kuwait
0.493
(0.741423, 0.219112, 0.326576, 1.0)
Laos
Laos
0.547
(0.658463, 0.178962, 0.372748, 1.0)
Lebanon
Lebanon
0.21600000000000003
(0.985952, 0.61575, 0.025592, 1.0)
Liberia
Liberia
0.37
(0.898192, 0.358911, 0.18886, 1.0)
Libya
Libya
0.41600000000000004
(0.846709, 0.297559, 0.244113, 1.0)
Saint Lucia
(0.988362, 0.998364, 0.644924, 1.0)
Liechtenstein
(0.988362, 0.998364, 0.644924, 1.0)
Sri Lanka
Sri Lanka
0.47
(0.775059, 0.239667, 0.303526, 1.0)
Lesotho
Lesotho
0.359
(0.90939, 0.375856, 0.174563, 1.0)
Lithuania
Lithuania
0.29100000000000004
(0.959114, 0.482014, 0.089499, 1.0)
Luxembourg
Luxembourg
0.526
(0.694627, 0.195021, 0.354388, 1.0)
Latvia
Latvia
0.264
(0.97259, 0.529798, 0.053324, 1.0)
Morocco
Morocco
0.418
(0.841969, 0.292933, 0.248564, 1.0)
Moldova
Moldova
0.245
(0.979666, 0.565057, 0.031409, 1.0)
Madagascar
Madagascar
0.14800000000000002
(0.982228, 0.751442, 0.147565, 1.0)
Mexico
Mexico
0.433
(0.827372, 0.279517, 0.26175, 1.0)
Macedonia
(0.988362, 0.998364, 0.644924, 1.0)
Mali
Mali
0.327
(0.935747, 0.423831, 0.13544, 1.0)
Malta
Malta
0.564
(0.633998, 0.168992, 0.383704, 1.0)
Myanmar
Myanmar
0.525
(0.694627, 0.195021, 0.354388, 1.0)
Montenegro
Montenegro
0.19699999999999998
(0.987819, 0.652773, 0.045581, 1.0)
Mongolia
Mongolia
0.317
(0.941521, 0.436405, 0.125409, 1.0)
Northern Mariana Islands
(0.988362, 0.998364, 0.644924, 1.0)
Mozambique
Mozambique
0.494
(0.741423, 0.219112, 0.326576, 1.0)
Mauritania
Mauritania
0.066
(0.948683, 0.910473, 0.395289, 1.0)
Mauritius
Mauritius
0.498
(0.735683, 0.215906, 0.330245, 1.0)
Malawi
Malawi
0.44299999999999995
(0.812239, 0.266786, 0.274661, 1.0)
Malaysia
Malaysia
0.508
(0.718264, 0.206636, 0.340931, 1.0)
Namibia
Namibia
0.401
(0.865006, 0.316822, 0.226055, 1.0)
New Caledonia
(0.988362, 0.998364, 0.644924, 1.0)
Niger
Niger
0.318
(0.941521, 0.436405, 0.125409, 1.0)
Nigeria
Nigeria
0.426
(0.832299, 0.283913, 0.257383, 1.0)
Nicaragua
Nicaragua
0.435
(0.822386, 0.275197, 0.266085, 1.0)
Niue
(0.988362, 0.998364, 0.644924, 1.0)
Netherlands
Netherlands
0.557
(0.64626, 0.173914, 0.378359, 1.0)
Norway
Norway
0.603
(0.572081, 0.145797, 0.406369, 1.0)
Nepal
Nepal
0.439
(0.817341, 0.270954, 0.27039, 1.0)
New Zealand
New Zealand
0.585
(0.603139, 0.157151, 0.395891, 1.0)
Oman
(0.988362, 0.998364, 0.644924, 1.0)
Pakistan
Pakistan
0.313
(0.944285, 0.442772, 0.120354, 1.0)
Panama
Panama
0.516
(0.7065, 0.200728, 0.347777, 1.0)
Peru
Peru
0.455
(0.796607, 0.254728, 0.287264, 1.0)
Philippines
Philippines
0.5579999999999999
(0.64626, 0.173914, 0.378359, 1.0)
Palau
(0.988362, 0.998364, 0.644924, 1.0)
Papua New Guinea
(0.988362, 0.998364, 0.644924, 1.0)
Poland
Poland
0.483
(0.758422, 0.229097, 0.315266, 1.0)
Puerto Rico
(0.988362, 0.998364, 0.644924, 1.0)
North Korea
PRK
(0.984865, 0.728427, 0.120785, 1.0)
Portugal
Portugal
0.508
(0.718264, 0.206636, 0.340931, 1.0)
Paraguay
Paraguay
0.514
(0.712396, 0.203656, 0.344383, 1.0)
Palestine
(0.988362, 0.998364, 0.644924, 1.0)
French Polynesia
(0.988362, 0.998364, 0.644924, 1.0)
Qatar
Qatar
0.555
(0.64626, 0.173914, 0.378359, 1.0)
Romania
Romania
0.462
(0.785929, 0.247056, 0.295477, 1.0)
Russia
Russia
0.33399999999999996
(0.929644, 0.411479, 0.145367, 1.0)
Rwanda
Rwanda
0.555
(0.64626, 0.173914, 0.378359, 1.0)
Western Sahara
(0.988362, 0.998364, 0.644924, 1.0)
Saudi Arabia
Saudi Arabia
0.439
(0.817341, 0.270954, 0.27039, 1.0)
Sudan
(0.988362, 0.998364, 0.644924, 1.0)
South Sudan
South Sudan
0.01
(0.976511, 0.989753, 0.61676, 1.0)
Senegal
Senegal
0.292
(0.959114, 0.482014, 0.089499, 1.0)
Singapore
Singapore
0.556
(0.64626, 0.173914, 0.378359, 1.0)
South Georgia and South Sandwich Islands
(0.988362, 0.998364, 0.644924, 1.0)
Saint Helena
(0.988362, 0.998364, 0.644924, 1.0)
Solomon Islands
(0.988362, 0.998364, 0.644924, 1.0)
Sierra Leone
Sierra Leone
0.309
(0.946965, 0.449191, 0.115272, 1.0)
El Salvador
El Salvador
0.43
(0.827372, 0.279517, 0.26175, 1.0)
Somaliland
(0.988362, 0.998364, 0.644924, 1.0)
Somalia
Somalia
0.5589999999999999
(0.640135, 0.171438, 0.381065, 1.0)
Saint Pierre and Miquelon
(0.988362, 0.998364, 0.644924, 1.0)
Republic of Serbia
SRB
(0.963387, 0.495462, 0.079073, 1.0)
Sao Tome and Principe
(0.988362, 0.998364, 0.644924, 1.0)
Suriname
(0.988362, 0.998364, 0.644924, 1.0)
Slovakia
Slovakia
0.33399999999999996
(0.929644, 0.411479, 0.145367, 1.0)
Slovenia
Slovenia
0.564
(0.633998, 0.168992, 0.383704, 1.0)
Sweden
Sweden
0.574
(0.621685, 0.164184, 0.388781, 1.0)
Swaziland
(0.988362, 0.998364, 0.644924, 1.0)
Syria
Syria
0.013000000000000001
(0.971162, 0.985282, 0.602154, 1.0)
Chad
Chad
0.174
(0.987124, 0.697944, 0.087731, 1.0)
Togo
Togo
0.293
(0.956852, 0.475356, 0.094695, 1.0)
Thailand
Thailand
0.557
(0.64626, 0.173914, 0.378359, 1.0)
Tajikistan
Tajikistan
0.389
(0.878001, 0.33206, 0.212268, 1.0)
Turkmenistan
Turkmenistan
0.39399999999999996
(0.873741, 0.326906, 0.216886, 1.0)
East Timor
(0.988362, 0.998364, 0.644924, 1.0)
Tonga
(0.988362, 0.998364, 0.644924, 1.0)
Trinidad and Tobago
(0.988362, 0.998364, 0.644924, 1.0)
Tunisia
Tunisia
0.16699999999999998
(0.986175, 0.713153, 0.103863, 1.0)
Turkey
Turkey
0.195
(0.987926, 0.66025, 0.05175, 1.0)
Taiwan
Taiwan
0.35100000000000003
(0.916462, 0.387481, 0.164924, 1.0)
United Republic of Tanzania
TZA
(0.846709, 0.297559, 0.244113, 1.0)
Uganda
Uganda
0.35600000000000004
(0.90939, 0.375856, 0.174563, 1.0)
Ukraine
Ukraine
0.17800000000000002
(0.987464, 0.690366, 0.07999, 1.0)
Uruguay
Uruguay
0.523
(0.700576, 0.197851, 0.351113, 1.0)
United States of America
USA
(0.796607, 0.254728, 0.287264, 1.0)
Uzbekistan
Uzbekistan
0.631
(0.528444, 0.130341, 0.418142, 1.0)
Saint Vincent and the Grenadines
(0.988362, 0.998364, 0.644924, 1.0)
Venezuela
Venezuela
0.154
(0.984075, 0.736087, 0.129527, 1.0)
United States Virgin Islands
(0.988362, 0.998364, 0.644924, 1.0)
Vietnam
Vietnam
0.5429999999999999
(0.66454, 0.181539, 0.369846, 1.0)
Vanuatu
(0.988362, 0.998364, 0.644924, 1.0)
Samoa
(0.988362, 0.998364, 0.644924, 1.0)
Yemen
Yemen
0.14300000000000002
(0.981173, 0.759135, 0.156863, 1.0)
South Africa
South Africa
0.389
(0.878001, 0.33206, 0.212268, 1.0)
Zambia
Zambia
0.431
(0.827372, 0.279517, 0.26175, 1.0)
Zimbabwe
Zimbabwe
0.361
(0.905735, 0.37014, 0.17935, 1.0)

In [101]:
fig = gmaps.figure()
gini_layer = gmaps.geojson_layer(
    countries_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.9)
fig.add_layer(gini_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Using Bins and color

In [102]:
merged_df.ranking.max()

156

In [117]:
bins = [1, 11, 21, 31, 41, 51, 156]
color_code_label = [0,1,2,3,4,5]
color_code = [(191/255,45/255,45/255,1.0),(227/255,109/255,109/255,1.0),(241/255,135/255,135/255,1.0),(245/255,173/255,173/255,1.0),(1.0, 201/255, 201/255,1.0),(1.0,226/255,226/255,1.0)]
merged_df["color_code"] = pd.cut(merged_df["ranking"], bins, labels=color_code_label, include_lowest=True)

In [118]:
merged_df

,ranking,score,social_support,freedom_index,corruption_index,iso_a3,continent,subregion,country_code,continent_code,subregion_code,color_code
country,,,,,,,,,,,,
Finland,1,7.769,1.587,0.596,0.393,FIN,Europe,Northern Europe,246,150.0,154.0,0
Denmark,2,7.600,1.573,0.592,0.410,DNK,Europe,Northern Europe,208,150.0,154.0,0
Norway,3,7.554,1.582,0.603,0.341,NOR,Europe,Northern Europe,578,150.0,154.0,0
Iceland,4,7.494,1.624,0.591,0.118,ISL,Europe,Northern Europe,352,150.0,154.0,0
Netherlands,5,7.488,1.522,0.557,0.298,NLD,Europe,Western Europe,528,150.0,155.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
Rwanda,152,3.334,0.711,0.555,0.411,RWA,Africa,Sub-Saharan Africa,646,2.0,202.0,5
Tanzania,153,3.231,0.885,0.417,0.147,TZA,Africa,Sub-Saharan Africa,834,2.0,202.0,5
Afghanistan,154,3.203,0.517,0.000,0.025,AFG,Asia,Southern Asia,4,142.0,34.0,5
Central African Republic,155,3.083,0.000,0.225,0.035,CAF,Africa,Sub-Saharan Africa,140,2.0,202.0,5
South Sudan,156,2.853,0.575,0.010,0.091,SSD,Africa,Sub-Saharan Africa,728,2.0,202.0,5

In [119]:
colors=[]
for feature in countries_geojson['features']:
    country_name = feature['properties']['name']
    country_code = feature['properties']['ISO_A3']
    print(country_name)
    try:
        if country_name in country_names:
            print(country_name)
            input_value = merged_df.loc[merged_df.index==country_name]["color_code"][0]
            print(input_value)
        elif country_code in country_codes:
            input_value = merged_df.loc[merged_df.iso_a3==country_code]["color_code"][0]
            print(country_code)
        else: input_value = 5
        color = to_hex(color_code[input_value], keep_alpha=False)
    except KeyError:
        # no GINI for that country: return default color
        color = (0, 0, 0, 0.3)
    colors.append(color)

Afghanistan
Afghanistan
5
Angola
Albania
Albania
5
Aland
Andorra
United Arab Emirates
United Arab Emirates
1
Argentina
Argentina
4
Armenia
Armenia
5
American Samoa
Antarctica
French Southern and Antarctic Lands
Antigua and Barbuda
Australia
Australia
0
Austria
Austria
0
Azerbaijan
Azerbaijan
5
Burundi
Burundi
5
Belgium
Belgium
1
Benin
Benin
5
Burkina Faso
Burkina Faso
5
Bangladesh
Bangladesh
5
Bulgaria
Bulgaria
5
Bahrain
Bahrain
3
The Bahamas
Bosnia and Herzegovina
Belarus
Belarus
5
Belize
Bolivia
Bolivia
5
Brazil
Brazil
3
Barbados
Brunei
Bhutan
Bhutan
5
Botswana
Botswana
5
Central African Republic
Central African Republic
5
Canada
Canada
0
Switzerland
Switzerland
0
Chile
Chile
2
China
China
5
Ivory Coast
Cameroon
Cameroon
5
Cyprus No Mans Area
Democratic Republic of the Congo
Republic of Congo
Colombia
Colombia
4
Comoros
Comoros
5
Cape Verde
Costa Rica
Costa Rica
1
Cuba
Curaçao
Cayman Islands
Northern Cyprus
Cyprus
Cyprus
4
Czech Republic
Czech Republic
1
Germany
Germany
1
Djibouti
Dominica
Denmark
Denmark
0
Dominican Republic
Dominican Republic
5
Algeria
Algeria
5
Ecuador
Ecuador
4
Egypt
Egypt
5
Eritrea
Spain
Spain
2
Estonia
Estonia
5
Ethiopia
Ethiopia
5
Finland
Finland
0
Fiji
Falkland Islands
France
France
2
Faroe Islands
Federated States of Micronesia
Gabon
Gabon
5
United Kingdom
United Kingdom
1
Georgia
Georgia
5
Ghana
Ghana
5
Guinea
Guinea
5
Gambia
Gambia
5
Guinea Bissau
Equatorial Guinea
Greece
Greece
5
Grenada
Greenland
Guatemala
Guatemala
2
Guam
Guyana
Hong Kong S.A.R.
HKG
Heard Island and McDonald Islands
Honduras
Honduras
5
Croatia
Croatia
5
Haiti
Haiti
5
Hungary
Hungary
5
Indonesia
Indonesia
5
Isle of Man
India
India
5
Ireland
Ireland
1
Iran
Iran
5
Iraq
Iraq
5
Iceland
Iceland
0
Israel
Israel
1
Italy
Italy
3
Jamaica
Jamaica
5
Jordan
Jordan
5
Japan
Japan
5
Baykonur Cosmodrome
Siachen Glacier
Kazakhstan
Kazakhstan
5
Kenya
Kenya
5
Kyrgyzstan
Kyrgyzstan
5
Cambodia
Cambodia
5
Kiribati
Saint Kitts and Nevis
South Korea
South Korea
5
Kosovo
Kuwait
Kuwait
4
Laos
Laos
5
Lebanon
Lebanon
5
Liberia
Liberia
5
Libya
Libya
5
Saint Lucia
Liechtenstein
Sri Lanka
Sri Lanka
5
Lesotho
Lesotho
5
Lithuania
Lithuania
4
Luxembourg
Luxembourg
1
Latvia
Latvia
5
Morocco
Morocco
5
Moldova
Moldova
5
Madagascar
Madagascar
5
Mexico
Mexico
2
Macedonia
Mali
Mali
5
Malta
Malta
2
Myanmar
Myanmar
5
Montenegro
Montenegro
5
Mongolia
Mongolia
5
Northern Mariana Islands
Mozambique
Mozambique
5
Mauritania
Mauritania
5
Mauritius
Mauritius
5
Malawi
Malawi
5
Malaysia
Malaysia
5
Namibia
Namibia
5
New Caledonia
Niger
Niger
5
Nigeria
Nigeria
5
Nicaragua
Nicaragua
4
Niue
Netherlands
Netherlands
0
Norway
Norway
0
Nepal
Nepal
5
New Zealand
New Zealand
0
Oman
Pakistan
Pakistan
5
Panama
Panama
2
Peru
Peru
5
Philippines
Philippines
5
Palau
Papua New Guinea
Poland
Poland
3
Puerto Rico
North Korea
PRK
Portugal
Portugal
5
Paraguay
Paraguay
5
Palestine
French Polynesia
Qatar
Qatar
2
Romania
Romania
4
Russia
Russia
5
Rwanda
Rwanda
5
Western Sahara
Saudi Arabia
Saudi Arabia
2
Sudan
South Sudan
South Sudan
5
Senegal
Senegal
5
Singapore
Singapore
3
South Georgia and South Sandwich Islands
Saint Helena
Solomon Islands
Sierra Leone
Sierra Leone
5
El Salvador
El Salvador
3
Somaliland
Somalia
Somalia
5
Saint Pierre and Miquelon
Republic of Serbia
SRB
Sao Tome and Principe
Suriname
Slovakia
Slovakia
3
Slovenia
Slovenia
4
Sweden
Sweden
0
Swaziland
Syria
Syria
5
Chad
Chad
5
Togo
Togo
5
Thailand
Thailand
5
Tajikistan
Tajikistan
5
Turkmenistan
Turkmenistan
5
East Timor
Tonga
Trinidad and Tobago
Tunisia
Tunisia
5
Turkey
Turkey
5
Taiwan
Taiwan
2
United Republic of Tanzania
TZA
Uganda
Uganda
5
Ukraine
Ukraine
5
Uruguay
Uruguay
3
United States of America
USA
Uzbekistan
Uzbekistan
3
Saint Vincent and the Grenadines
Venezuela
Venezuela
5
United States Virgin Islands
Vietnam
Vietnam
5
Vanuatu
Samoa
Yemen
Yemen
5
South Africa
South Africa
5
Zambia
Zambia
5
Zimbabwe
Zimbabwe
5

In [120]:
fig = gmaps.figure()
gini_layer = gmaps.geojson_layer(
    countries_geojson,
    fill_color=colors,
    stroke_color=colors,
    fill_opacity=0.9)
fig.add_layer(gini_layer)
fig

Figure(layout=FigureLayout(height='420px'))