In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv("./continents2.csv")

In [3]:
df.head()

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN
3,Algeria,DZ,DZA,12,ISO 3166-2:DZ,Africa,Northern Africa,NaN,2.0,15.0,NaN
4,American Samoa,AS,ASM,16,ISO 3166-2:AS,Oceania,Polynesia,NaN,9.0,61.0,NaN

In [4]:
df.keys()

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'],
      dtype='object')

In [5]:
continent_df = df[['name','region','sub-region','country-code','region-code','sub-region-code']]

In [6]:
continent_df.columns = ["country", "continent", "subregion", "country_code", "continent_code", "subregion_code"]

In [7]:
continent_df.set_index("country_code", inplace=True)

In [8]:
continent_df.head()

,country,continent,subregion,continent_code,subregion_code
country_code,,,,,
4,Afghanistan,Asia,Southern Asia,142.0,34.0
248,Åland Islands,Europe,Northern Europe,150.0,154.0
8,Albania,Europe,Southern Europe,150.0,39.0
12,Algeria,Africa,Northern Africa,2.0,15.0
16,American Samoa,Oceania,Polynesia,9.0,61.0

### Connection to database

In [9]:
rds_connection_string = "postgres:postgres@localhost:5432/COVID_df"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [10]:
engine.table_names()

['happiness_table', 'countrycode_table']

In [12]:
continent_df.to_sql(name='countrycode_table', con=engine, if_exists='append', index=True, index_label="country_code")

In [13]:
pd.read_sql_query('select * from countrycode_table', con=engine).head()

,country_code,country,continent,subregion,continent_code,subregion_code
0,4,Afghanistan,Asia,Southern Asia,142.0,34.0
1,248,Åland Islands,Europe,Northern Europe,150.0,154.0
2,8,Albania,Europe,Southern Europe,150.0,39.0
3,12,Algeria,Africa,Northern Africa,2.0,15.0
4,16,American Samoa,Oceania,Polynesia,9.0,61.0